<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand p-2" href="#">Mixr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto p-2">

            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-center" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link text-center" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link text-center" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Store", "Index", "Store", null, new { @class = "nav-link text-center" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Cart", "Cart", "Store", null, new { @class = "nav-link text-center" })
            </li>
            @if (Roles.IsUserInRole(User.Identity.Name, "Administrator"))
    {
        @Html.Partial("_AdminNavPartial")
}
            @if (Roles.IsUserInRole(User.Identity.Name, "Finance"))
    {
        @Html.Partial("_FinanceNavPartial")
}
            @Html.Partial("_LoginPartial")



        </ul>
        <form class="form-inline my-2 my-lg-0 d-flex justify-content-center ml-lg-5">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


