<nav class="navbar navbar-expand-lg navbar-primary bg-theme-primary">
    <a class="navbar-brand p-2 mr-5" href="#">Mixr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex flex-column flex-lg-row" id="navbarSupportedContent">
        <ul class="navbar-nav" >

            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-center" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link text-center" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link text-center" })
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
                @Html.ActionLink("Store", "Index", "Store", null, new { @class = "nav-link text-center" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Cart", "Cart", "Store", null, new { @class = "nav-link text-center" })
            </li>
            @if (Roles.IsUserInRole(User.Identity.Name, "Administrator"))
            {
                @Html.Partial("_AdminNavPartial")
            }
            @if (Roles.IsUserInRole(User.Identity.Name, "Finance"))
            {
                @Html.Partial("_FinanceNavPartial")
            }
            @Html.Partial("_LoginPartial")



        </ul>
        <form class="form-inline my-2 my-lg-0 d-flex justify-content-sm-center flex-sm-row mr-5 mt-5 mt-lg-0">
            <div class="form-group">
                
                
                <input id="Search" class="form-control mr-2 text-center" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0 text-center" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</nav>

<div class="search-results-container">

</div>


@{
    Html.RenderAction("Index", "Search");
}



